* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    transition: color ease-in;
}

button {
    cursor: pointer;
}

ul {
    list-style: none;
}

.cursor-pointer {
    cursor: pointer;
}

.request-id {
    display: block;
    min-width: 6rem;
    word-break: break-all;
}

.not-found-container {
    max-width: 500px;
}

.not-found-img {
    width: 100%;
    object-fit: contain;
}

.filter-arrow {
    width: 1rem;
    z-index: -1;
}

.filter-arrow_color_grey {
    opacity: 0.35;
    transform: rotateZ(90deg);
}

.filter-arrow_desc {
    transform: rotateZ(270deg);
}

.filter-arrow_asc {
    transform: rotateZ(90deg);
}

th {
    text-align: center;
}

.th-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}
